PlutoHelperAgent.xcodeproj/project.xcworkspace/xcuserdata/localhome.xcuserdatad/UserInterfaceState.xcuserstate
PlutoHelperAgent.xcodeproj/xcuserdata/localhome.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PlutoHelperAgent.xcodeproj/xcuserdata/localhome.xcuserdatad/xcschemes/xcschememanagement.plist
